.App {
  text-align: center;
  background-color: rgb(255 255 255);
  font-family: Arial, Helvetica, sans-serif;
}
.flex{
  display: flex;
  flex-direction: column;
}
.links{
  margin: 15px;
  padding: 20px;
  background-color:rgb(234 236 240);
  font-family: sans-serif;
  font-size: medium;
  border-radius: 5px;
}

#profile__img{
  margin-top: 30px;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.name{
font-weight: bold;
font-family: sans-serif;
}
.footer{
  padding: 30px;
}
#slack{
  display: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}



