.App {
  text-align: center;
  background-color: rgb(255 255 255);
  font-family: Arial, Helvetica, sans-serif;
}
.flex{
  display: flex;
  flex-direction: column;
}
.links{
  margin: 15px;
  padding: 20px;
  background-color:rgb(234 236 240);
  font-family: sans-serif;
  font-size: medium;
  border-radius: 5px;
}

#profile__img{
  margin-top: 30px;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.name{
font-weight: bold;
font-family: sans-serif;
}
.footer{
  padding: 30px;
}
#slack{
  display: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}

.contact header {
  width: 50%;
}

.contact header .contact-h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
  color: #101828;
}

.contact .contact-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  margin-bottom: 48px;
}

.contact label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-bottom: 6px;
}

.contact .contact-h1, .contact .contact-p, .contact label {
  text-align: left;
}

.contact label {
  display: block;
}

.contact form {
  width: 50%;
}

.contact .flex-div {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.contact form .flex-div > div {
  flex-basis: 48%;
}

.contact input, .contact textarea {
  display: block;
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  width: 100%;
  margin-bottom: 24px;
}

.contact input:valid, .contact textarea:valid {
  padding: 10px 14px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.contact textarea {
  resize: none;
}

.contact input[type=checkbox] {
  display: inline;
  width: auto;
  margin-bottom: 0;
}
.contact input[type=submit] {
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}


::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.contact span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  text-align: left;
}

.accept {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}

.contact-submit {
  width: 100%;
}
